html {
	background-color: #222;
}

body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	position: relative;
}

div#header {
    position: relative;
    display: inline-block;
    width: calc(100% - 20px);
    height: 30px;
    left: 10px;
    top: -25px;
    border: 1px solid #558;
    border-top: 0;
	text-align: center;
    background-color: #223;
    transition: top .5s;
}

div#header:hover {
	top: 0;
}

div#header>div>span {
	height: 30px;
    line-height: 30px;
    font-weight: bold;
    font-size: 18px;
    padding-left: 20px;
    color: #ccd;
}

div#game {
	border: 1px solid #558;
	position: relative;
	display: inline-block;
}

div#game.bordered {
	box-shadow: 0 0 20px #558;
}

div#food {
	position: absolute;
	background-color: #522;
}

div#s {
	position: absolute;
	width: 0;
	height: 0;
}

div#s>div {
	position: absolute;
	background-color: #225;
	/*border-radius: 5px;*/
	display: inline-block;
}

div#s.ai>div {
	background-color: #223;
}

div#s>div[o='0'] {transform: rotate(180deg);}
div#s>div[o='1'] {transform: rotate(-90deg);}
div#s>div[o='2'] {transform: rotate(0deg);}
div#s>div[o='3'] {transform: rotate(90deg);}

div#s>div:nth-last-child(1)  { background-image: linear-gradient(to left, #558, rgb(80, 80, 131)); }
div#s>div:nth-last-child(2)  { background-image: linear-gradient(to left, rgb(80, 80, 131), rgb(75, 75, 126)); }
div#s>div:nth-last-child(3)  { background-image: linear-gradient(to left, rgb(75, 75, 126), rgb(70, 70, 121)); }
div#s>div:nth-last-child(4)  { background-image: linear-gradient(to left, rgb(70, 70, 121), rgb(65, 65, 116)); }
div#s>div:nth-last-child(5)  { background-image: linear-gradient(to left, rgb(65, 65, 116), rgb(60, 60, 111)); }
div#s>div:nth-last-child(6)  { background-image: linear-gradient(to left, rgb(60, 60, 111), rgb(55, 55, 106)); }
div#s>div:nth-last-child(7)  { background-image: linear-gradient(to left, rgb(55, 55, 106), rgb(50, 50, 101)); }
div#s>div:nth-last-child(8)  { background-image: linear-gradient(to left, rgb(50, 50, 101), rgb(45, 45,  96)); }
div#s>div:nth-last-child(9)  { background-image: linear-gradient(to left, rgb(45, 45,  96), rgb(40, 40,  91)); }
div#s>div:nth-last-child(10) { background-image: linear-gradient(to left, rgb(40, 40,  91), #225); }

div#s.ai>div:nth-last-child(1)  { background-image: linear-gradient(to left, #558, rgb(80, 80, 128)); }
div#s.ai>div:nth-last-child(2)  { background-image: linear-gradient(to left, rgb(80, 80, 128), rgb(75, 75, 119)); }
div#s.ai>div:nth-last-child(3)  { background-image: linear-gradient(to left, rgb(75, 75, 119), rgb(70, 70, 111)); }
div#s.ai>div:nth-last-child(4)  { background-image: linear-gradient(to left, rgb(70, 70, 111), rgb(65, 65, 102)); }
div#s.ai>div:nth-last-child(5)  { background-image: linear-gradient(to left, rgb(65, 65, 102), rgb(60, 60,  94)); }
div#s.ai>div:nth-last-child(6)  { background-image: linear-gradient(to left, rgb(60, 60,  94), rgb(55, 55,  85)); }
div#s.ai>div:nth-last-child(7)  { background-image: linear-gradient(to left, rgb(55, 55,  85), rgb(50, 50,  78)); }
div#s.ai>div:nth-last-child(8)  { background-image: linear-gradient(to left, rgb(50, 50,  78), rgb(45, 45,  67)); }
div#s.ai>div:nth-last-child(9)  { background-image: linear-gradient(to left, rgb(45, 45,  67), rgb(40, 40,  59)); }
div#s.ai>div:nth-last-child(10) { background-image: linear-gradient(to left, rgb(40, 40,  59), #223); }

div#overlay {
    position: absolute;
    display: grid;
    width: 100%;
    height: 100%;
    bottom: 100%;
    transition: bottom 1s ease;
    place-items: center;
    text-align: center;
    font-size: 90px;
    background-color: #0005;
    color: darkred;
}

div#overlay.shown {
	bottom: 0;
}

div#overlay>span {
	font-size: 48px;
}